.img-logo{ 
    margin-top: 15px;
    margin-bottom: 15px;
}
.fondo{
    background: #04235c;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: 'Arial';
}
.card{
    margin-top: 5px;
    margin-bottom: 5px;
}
.contactanos{
    background: rgb(248, 248, 248) !important;
    font-family: 'Arial';
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.alert{
    margin-top: 3px;
    margin-bottom: 3px;
}